@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

@theme {
  --color-brand-black: #080808;
  --color-brand-white: #ffffff;
  --color-brand-gray: #a1a1a1;

  --font-serif: "Playfair Display", serif;
  --font-sans: var(--font-inter);
}

:root {
  --background: #080808;
  --foreground: #ffffff;
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}

::selection {
  background-color: #ffffff;
  color: #000000;
}

/* Custom scrollbar for premium feel */
::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: #080808;
}

::-webkit-scrollbar-thumb {
  background: #333;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

@layer base {
  h1,
  h2,
  h3,
  h4 {
    font-weight: 300;
    letter-spacing: -0.02em;
  }
}
