@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

@theme {
  --color-brand-primary: #006d77;
  --color-brand-secondary: #83c5be;
  --color-brand-neutral: #edf6f9;
  --color-brand-accent-soft: #ffddd2;
  --color-brand-accent-hard: #e29578;

  --font-serif: "Playfair Display", serif;
  --font-sans: var(--font-inter);
}

:root {
  --background: #edf6f9;
  --foreground: #38c0cd;
  --accent: #e29578;
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}

::selection {
  background-color: var(--color-brand-secondary);
  color: #ffffff;
}

/* Custom scrollbar */
::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: var(--color-brand-neutral);
}

::-webkit-scrollbar-thumb {
  background: var(--color-brand-primary);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--color-brand-accent-hard);
}

@layer base {
  h1,
  h2,
  h3,
  h4 {
    font-weight: 300;
    letter-spacing: -0.02em;
  }
}
